<section class="hp-links">
  <div class="container">
    <ul class="hp-links__inner">
      <li class="hp-links__box">
        <a href="#" class="hp-links__item">
          <img src="images/content/link-1.png" loading="lazy" alt="" />
          <div class="hp-links__title">
            Klubový web
            <img src="images/content/arrow-links.png" alt="" />
          </div>
        </a>
      </li>
      <li class="hp-links__box">
        <a href="#" class="hp-links__item">
          <img src="images/content/link-2.png" loading="lazy" alt="" />
          <div class="hp-links__title">
            Přidej se k nám!
            <img src="images/content/arrow-links.png" alt="" />
          </div>
        </a>
      </li>
      <li class="hp-links__box">
        <a href="#" class="hp-links__item">
          <img src="images/content/link-3.png" loading="lazy" alt="" />
          <div class="hp-links__title">
            akce a kempy
            <img src="images/content/arrow-links.png" alt="" />
          </div>
        </a>
      </li>
      <li class="hp-links__box">
        <a href="#" class="hp-links__item">
          <img src="images/content/link-4.png" loading="lazy" alt="" />
          <div class="hp-links__title">
            školky a školy
            <img src="images/content/arrow-links.png" alt="" />
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
