<section class="cards-section">
  <div class="container">
    <ul class="card-columns">
      <div class="grid-sizer"></div>
      <li class="card-col">
        <div class="card" data-card-id="card1">
          <div class="tag tag--red">PRO ČLENY</div>
          <div class="card-box">
            <a href="#" class="card-title">LETNÍ SOUSTŘEDĚNÍ 2023</a>
            <div class="card-date">26.8. - 2.9. 2023</div>
            <div class="row">
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Cena: </strong> 6.500 Kč</li>
                  <li><strong>Ročníky: </strong> 2002 - 2015</li>
                </ul>
              </div>
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Kapacita: </strong> 160 účastníků</li>
                  <li><strong>Příhlášení: </strong> členská sekce</li>
                </ul>
              </div>
            </div>
            <ul class="card-contact">
              <li><strong>Kontaktní osoba: </strong> Petr Neumaier</li>
              <li>
                <a href="mailto:neumaier@florbalchomutov.cz"
                  >neumaier@florbalchomutov.cz</a
                >
                | <a href="tel:+420728119475 ">+420 728 119 475 </a>
              </li>
            </ul>
            <div class="box" data-box-id="card1">
              <p>
                Pět dní cestování a skvělých zážitků. Na příměstském kempu se
                nikdo nebude nudit. Naši trenéři vás provedou nejlepšími
                atrakcemi v blízkém i vzdálenějším okolí. Užijete si spoustu
                výletů, zábavy a nových zkušeností. Na výběr máte ze dvou
                turnusů.
              </p>
            </div>
            <div data-action="show" class="link link--brown">Číst více</div>
          </div>
        </div>
      </li>
      <li class="card-col">
        <div class="card" data-card-id="card2">
          <div class="tag tag--red">PRO ČLENY</div>
          <div class="card-box">
            <a href="#" class="card-title">LETNÍ SOUSTŘEDĚNÍ 2023</a>
            <div class="card-date">26.8. - 2.9. 2023</div>
            <div class="row">
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Cena: </strong> 6.500 Kč</li>
                  <li><strong>Ročníky: </strong> 2002 - 2015</li>
                </ul>
              </div>
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Kapacita: </strong> 160 účastníků</li>
                  <li><strong>Příhlášení: </strong> členská sekce</li>
                </ul>
              </div>
            </div>
            <ul class="card-contact">
              <li><strong>Kontaktní osoba: </strong> Petr Neumaier</li>
              <li>
                <a href="mailto:neumaier@florbalchomutov.cz"
                  >neumaier@florbalchomutov.cz</a
                >
                | <a href="tel:+420728119475 ">+420 728 119 475 </a>
              </li>
            </ul>
            <ul class="card-contact">
              <li><strong>Kontaktní osoba: </strong> Petr Neumaier</li>
              <li>
                <a href="mailto:neumaier@florbalchomutov.cz"
                  >neumaier@florbalchomutov.cz</a
                >
                | <a href="tel:+420728119475 ">+420 728 119 475 </a>
              </li>
            </ul>
            <div class="box" data-box-id="card2">
              <p>
                Pět dní cestování a skvělých zážitků. Na příměstském kempu se
                nikdo nebude nudit. Naši trenéři vás provedou nejlepšími
                atrakcemi v blízkém i vzdálenějším okolí. Užijete si spoustu
                výletů, zábavy a nových zkušeností. Na výběr máte ze dvou
                turnusů.
              </p>
              <p>
                Pět dní cestování a skvělých zážitků. Na příměstském kempu se
                nikdo nebude nudit. Naši trenéři vás provedou nejlepšími
                atrakcemi v blízkém i vzdálenějším okolí. Užijete si spoustu
                výletů, zábavy a nových zkušeností. Na výběr máte ze dvou
                turnusů.
              </p>
            </div>
            <div class="link link--brown" data-action="show">Číst více</div>
          </div>
        </div>
      </li>
      <li class="card-col">
        <div class="card" data-card-id="card3">
          <div class="tag tag--red">PRO ČLENY</div>
          <div class="card-box">
            <a href="#" class="card-title">LETNÍ SOUSTŘEDĚNÍ 2023</a>
            <div class="card-date">26.8. - 2.9. 2023</div>
            <div class="row">
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Cena: </strong> 6.500 Kč</li>
                  <li><strong>Ročníky: </strong> 2002 - 2015</li>
                </ul>
              </div>
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Kapacita: </strong> 160 účastníků</li>
                  <li><strong>Příhlášení: </strong> členská sekce</li>
                </ul>
              </div>
            </div>
            <ul class="card-contact">
              <li><strong>Kontaktní osoba: </strong> Petr Neumaier</li>
              <li>
                <a href="mailto:neumaier@florbalchomutov.cz"
                  >neumaier@florbalchomutov.cz</a
                >
                | <a href="tel:+420728119475 ">+420 728 119 475 </a>
              </li>
            </ul>
            <ul class="card-contact">
              <li><strong>Kontaktní osoba: </strong> Petr Neumaier</li>
              <li>
                <a href="mailto:neumaier@florbalchomutov.cz"
                  >neumaier@florbalchomutov.cz</a
                >
                | <a href="tel:+420728119475 ">+420 728 119 475 </a>
              </li>
            </ul>
            <div class="box" data-box-id="card3">
              <p>
                Pět dní cestování a skvělých zážitků. Na příměstském kempu se
                nikdo nebude nudit. Naši trenéři vás provedou nejlepšími
                atrakcemi v blízkém i vzdálenějším okolí. Užijete si spoustu
                výletů, zábavy a nových zkušeností. Na výběr máte ze dvou
                turnusů.
              </p>
              <p>
                Pět dní cestování a skvělých zážitků. Na příměstském kempu se
                nikdo nebude nudit. Naši trenéři vás provedou nejlepšími
                atrakcemi v blízkém i vzdálenějším okolí. Užijete si spoustu
                výletů, zábavy a nových zkušeností. Na výběr máte ze dvou
                turnusů.
              </p>
            </div>
            <div data-action="show" class="link link--brown">Číst více</div>
          </div>
        </div>
      </li>

      <li class="card-col">
        <div class="card">
          <div class="tag tag--orange">PRO VEŘEJNOST</div>
          <div class="card-box">
            <a href="#" class="card-title">Floorball skills camp KID</a>
            <div class="card-date">26.8. - 2.9. 2023</div>
            <div class="row">
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Cena: </strong> 6.500 Kč</li>
                  <li><strong>Ročníky: </strong> 2002 - 2015</li>
                </ul>
              </div>
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Kapacita: </strong> 160 účastníků</li>
                </ul>
              </div>
            </div>
            <ul class="card-contact">
              <li><strong>Kontaktní osoba: </strong> Petr Neumaier</li>
              <li>
                <a href="mailto:neumaier@florbalchomutov.cz"
                  >neumaier@florbalchomutov.cz</a
                >
                | <a href="tel:+420728119475 ">+420 728 119 475 </a>
              </li>
            </ul>

            <a href="#" class="link link--white">PŘIHLÁSIT SE</a>
          </div>
        </div>
      </li>
      <!--
      <li class="card-col">
        <div class="card">
          <div class="tag tag--orange">PRO VEŘEJNOST</div>
          <div class="card-box">
            <a href="#" class="card-title">Floorball skills camp KID</a>
            <div class="card-date">26.8. - 2.9. 2023</div>
            <div class="row">
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Cena: </strong> 6.500 Kč</li>
                  <li><strong>Ročníky: </strong> 2002 - 2015</li>
                  <li><strong>Kapacita: </strong> 160 účastníků</li>
                </ul>
              </div>
              <div class="col-xxl-6">
                <ul class="card-contact">
                  <li><strong>Kontaktní osoba: </strong> Petr Neumaier</li>
                  <li>
                    <a href="mailto:neumaier@florbalchomutov.cz"
                      >neumaier@florbalchomutov.cz</a
                    >
                  </li>
                  <li>
                    <a href="tel:+420728119475 ">+420 728 119 475 </a>
                  </li>
                </ul>
              </div>
            </div>

            <a href="#" class="link link--white"> PŘIHLÁSIT SE</a>
          </div>
          <img src="images/content/link-2.png" alt="" />
        </div>
      </li>
      <li class="card-col">
        <div class="card">
          <div class="tag tag--orange">PRO VEŘEJNOST</div>
          <div class="card-box">
            <a href="#" class="card-title">Floorball skills camp KID</a>
            <div class="card-date">26.8. - 2.9. 2023</div>
            <div class="row">
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Cena: </strong> 6.500 Kč</li>
                  <li><strong>Ročníky: </strong> 2002 - 2015</li>
                </ul>
              </div>
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Kapacita: </strong> 160 účastníků</li>
                </ul>
              </div>
            </div>
            <ul class="card-contact">
              <li><strong>Kontaktní osoba: </strong> Petr Neumaier</li>
              <li>
                <a href="mailto:neumaier@florbalchomutov.cz"
                  >neumaier@florbalchomutov.cz</a
                >
                | <a href="tel:+420728119475 ">+420 728 119 475 </a>
              </li>
            </ul>

            <a href="#" class="link link--white">PŘIHLÁSIT SE</a>
          </div>
        </div>
      </li> -->
    </ul>
  </div>
</section>
