<section class="cards-section">
  <div class="container">
    <h2 class="h2">Vyzkoušej i další naše akce!</h2>
    <ul class="card-columns">
      <li class="card-col">
        <div class="card">
          <div class="tag tag--orange">PRO VŠECHNY</div>
          <div class="card-box">
            <a href="#" class="card-title">Floorball skills camp KID</a>
            <div class="card-date">26.8. - 2.9. 2023</div>
            <div class="row">
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Cena: </strong> 6.500 Kč</li>
                  <li><strong>Ročníky: </strong> 2002 - 2015</li>
                </ul>
              </div>
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Kapacita: </strong> 160 účastníků</li>
                </ul>
              </div>
            </div>
            <ul class="card-contact">
              <li><strong>Kontaktní osoba: </strong> Petr Neumaier</li>
              <li>
                <a href="mailto:neumaier@florbalchomutov.cz"
                  >neumaier@florbalchomutov.cz</a
                >
                | <a href="tel:+420728119475 ">+420 728 119 475 </a>
              </li>
            </ul>

            <a href="#" class="link link--white">PŘIHLÁSIT SE</a>
          </div>
        </div>
      </li>
      <li class="card-col">
        <div class="card">
          <div class="tag tag--orange">PRO VŠECHNY</div>
          <div class="card-box">
            <a href="#" class="card-title">Floorball skills camp KID</a>
            <div class="card-date">26.8. - 2.9. 2023</div>
            <div class="row">
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Cena: </strong> 6.500 Kč</li>
                  <li><strong>Ročníky: </strong> 2002 - 2015</li>
                  <li><strong>Kapacita: </strong> 160 účastníků</li>
                </ul>
              </div>
              <div class="col-xxl-6">
                <ul class="card-contact">
                  <li><strong>Kontaktní osoba: </strong> Petr Neumaier</li>
                  <li>
                    <a href="mailto:neumaier@florbalchomutov.cz"
                      >neumaier@florbalchomutov.cz</a
                    >
                  </li>
                  <li>
                    <a href="tel:+420728119475 ">+420 728 119 475 </a>
                  </li>
                </ul>
              </div>
            </div>

            <a href="#" class="link link--white"> PŘIHLÁSIT SE</a>
          </div>
          <img src="images/content/link-2.png" alt="" />
        </div>
      </li>
      <li class="card-col">
        <div class="card">
          <div class="tag tag--orange">PRO VŠECHNY</div>
          <div class="card-box">
            <a href="#" class="card-title">Floorball skills camp KID</a>
            <div class="card-date">26.8. - 2.9. 2023</div>
            <div class="row">
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Cena: </strong> 6.500 Kč</li>
                  <li><strong>Ročníky: </strong> 2002 - 2015</li>
                </ul>
              </div>
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Kapacita: </strong> 160 účastníků</li>
                </ul>
              </div>
            </div>
            <ul class="card-contact">
              <li><strong>Kontaktní osoba: </strong> Petr Neumaier</li>
              <li>
                <a href="mailto:neumaier@florbalchomutov.cz"
                  >neumaier@florbalchomutov.cz</a
                >
                | <a href="tel:+420728119475 ">+420 728 119 475 </a>
              </li>
            </ul>

            <a href="#" class="link link--white">PŘIHLÁSIT SE</a>
          </div>
        </div>
      </li>
      <li class="card-col">
        <div class="card">
          <div class="tag tag--orange">PRO VŠECHNY</div>
          <div class="card-box">
            <a href="#" class="card-title">Floorball skills camp KID</a>
            <div class="card-date">26.8. - 2.9. 2023</div>
            <div class="row">
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Cena: </strong> 6.500 Kč</li>
                  <li><strong>Ročníky: </strong> 2002 - 2015</li>
                </ul>
              </div>
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Kapacita: </strong> 160 účastníků</li>
                </ul>
              </div>
            </div>
            <ul class="card-contact">
              <li><strong>Kontaktní osoba: </strong> Petr Neumaier</li>
              <li>
                <a href="mailto:neumaier@florbalchomutov.cz"
                  >neumaier@florbalchomutov.cz</a
                >
                | <a href="tel:+420728119475 ">+420 728 119 475 </a>
              </li>
            </ul>

            <a href="#" class="link link--white">PŘIHLÁSIT SE</a>
          </div>
        </div>
      </li>
      <li class="card-col">
        <div class="card">
          <div class="tag tag--orange">PRO VŠECHNY</div>
          <div class="card-box">
            <a href="#" class="card-title">Floorball skills camp KID</a>
            <div class="card-date">26.8. - 2.9. 2023</div>
            <div class="row">
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Cena: </strong> 6.500 Kč</li>
                  <li><strong>Ročníky: </strong> 2002 - 2015</li>
                  <li><strong>Kapacita: </strong> 160 účastníků</li>
                </ul>
              </div>
              <div class="col-xxl-6">
                <ul class="card-contact">
                  <li><strong>Kontaktní osoba: </strong> Petr Neumaier</li>
                  <li>
                    <a href="mailto:neumaier@florbalchomutov.cz"
                      >neumaier@florbalchomutov.cz</a
                    >
                  </li>
                  <li>
                    <a href="tel:+420728119475 ">+420 728 119 475 </a>
                  </li>
                </ul>
              </div>
            </div>

            <a href="#" class="link link--white"> PŘIHLÁSIT SE</a>
          </div>
          <img src="images/content/link-2.png" alt="" />
        </div>
      </li>
      <li class="card-col">
        <div class="card">
          <div class="tag tag--orange">PRO VŠECHNY</div>
          <div class="card-box">
            <a href="#" class="card-title">Floorball skills camp KID</a>
            <div class="card-date">26.8. - 2.9. 2023</div>
            <div class="row">
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Cena: </strong> 6.500 Kč</li>
                  <li><strong>Ročníky: </strong> 2002 - 2015</li>
                </ul>
              </div>
              <div class="col-xxl-6">
                <ul class="card-price">
                  <li><strong>Kapacita: </strong> 160 účastníků</li>
                </ul>
              </div>
            </div>
            <ul class="card-contact">
              <li><strong>Kontaktní osoba: </strong> Petr Neumaier</li>
              <li>
                <a href="mailto:neumaier@florbalchomutov.cz"
                  >neumaier@florbalchomutov.cz</a
                >
                | <a href="tel:+420728119475 ">+420 728 119 475 </a>
              </li>
            </ul>

            <a href="#" class="link link--white">PŘIHLÁSIT SE</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
