.link--brown {
  background-color: var(--color-brown);
  height: 36px;
  font-size: 24px;
  font-family: "NTF";
  color: var(--color-light);
  text-decoration-color: transparent;
  width: 95px;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 0.5px;
}
.link--white {
  border: 3px solid var(--color-dark);
  color: var(--color-dark);
  font-size: 24px;
  font-family: "NTF";
  color: rgb(0, 0, 0);
  line-height: 1.292;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  width: 140px;
  height: 50px;
  display: flex;
}
.link {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  display: flex;
}
