<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="header__logo">
        <img src="images/content/logo.png" alt="" />
      </a>
      <div class="header__box">
        <nav class="header-nav">
          <ul class="header-nav__menu">
            <li class="header-nav__list">
              <a href="#" class="header-nav__list-link"> E-shop </a>
            </li>
            <li class="header-nav__list">
              <a href="#" class="header-nav__list-link"> Členská sekce </a>
            </li>
            <li class="header-nav__list">
              <a href="#" class="header-nav__list-link"> Kontakt </a>
            </li>
          </ul>
        </nav>
        <ul class="header-social">
          <li>
            <a href="#" class="header-social__link">
              {% include "@images/facebook-f.svg" %}
            </a>
          </li>
          <li>
            <a href="#" class="header-social__link">
              {% include "@images/instagram.svg" %}
            </a>
          </li>
          <li>
            <a href="#" class="header-social__link">
              {% include "@images/youtube.svg" %}
            </a>
          </li>
        </ul>
      </div>
      <button class="c-header__opener js-header__opener" type="button">
         <span></span>
       </button>
    </div>
  </div>
</header>
