<section class="thanks">
  <div class="container">
    <div class="thanks__inner">
      <h2 class="h2">DĚKUJEME!</h2>
      <h3 class="h3">Tvoje přihlášení na akci proběhlo úspěšně!</h3>
      <p>
        <strong>
          Na e-mail martin.bocian@seznam.cz (ten mail se bude měnit podle mailu
          zadaného v přihlášce) bylo odesláno shrnutí a platební údaje.
        </strong>
      </p>
    </div>
  </div>
</section>
