<section class="formular-section">
  <div class="container">
    <div class="formular-section__inner">
      <div class="formular-section__form">
        <form class="formular">
          <label for="" class="formular__label">
            <span>Jméno dítěte*</span>
            <input name="name" type="text" required />
          </label>
          <label for="" class="formular__label">
            <span>Příjmení dítěte*</span>
            <input name="surname" type="text" required />
          </label>
          <label for="" class="formular__label">
            <span>Datum narození dítěte*</span>
            <input name="date" type="date" />
          </label>
          <label for="" class="formular__label">
            <span>Jméno zákonného zástupce</span>
            <input name="name-2" type="text" required />
          </label>
          <label for="" class="formular__label">
            <span>Příjmení zákonného zástupce*</span>
            <input name="surname-2" type="text" required />
          </label>
          <label for="" class="formular__label">
            <span>Telefon na zákonného zástupce*</span>
            <input type="tel" name="tel" required />
          </label>
          <label for="" class="formular__label">
            <span>E-mail na zákonného zástupce*</span>
            <input
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              type="email"
              name="email"
              required
            />
          </label>
          <label for="" class="formular__label">
            <span>Stravovací omezení*</span>
            <input type="text" name="food" required />
          </label>
          <label for="" class="formular__label">
            <span>Kde jste se o nás dozvěděli?*</span>
            <input type="text" name="text" required />
          </label>

          <div class="formular__team">
            <label for="" class="formular__label">
              <span>Klub*</span>
              <input type="text" name="team" required />
            </label>
            <label for="" class="formular__label">
              <span>Pozice*</span>
              <select class="js-select" name="" id="">
                <option value="">výběr</option>
                <option value="">hráč</option>
                <option value="">brankář</option>
              </select>
            </label>
          </div>
          <div class="formular__button">
            <button>Odeslat</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
