<section class="top-section">
  <div class="top-section__decore"></div>
  <div class="container">
    <div class="top-section__inner">
      <div class="top-section__img">
        <img src="images/content/logo-top.png" loading="lazy" alt="" />
      </div>
      <div class="top-section__info">
        <span>naše akce a kempy</span>
        <h1>
          Přihlašovací <br />
          formulář
        </h1>
      </div>
    </div>
  </div>
</section>
